@import url(http://allfont.ru/allfont.css?fonts=cuprum);
@import url(http://allfont.ru/allfont.css?fonts=cuprum-bold);


body {
    font-family: 'Cuprum';
    background: url('../images/bg4.jpg') no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Блок HEADER*/
header {                    
    height: 95px;
    position: relative;
}

.whiteStripe {              /*Белая полоса навигации*/
    height: 40px;
    width: 100%;
    min-width: 970px;
    background-color: #ffffff;
    position: absolute;
    top: 27px;
}

.iHeader {                  /*Внутренний блок шапки*/
    height: 95px;
    width: 970px;
    position: relative;
    margin: 0 auto;
}

.mainLogo {                 /*Главный логотип сайта*/
    height: 95px;
    width: 67px;
    background-image: url('../images/logoBgWE.png');
    float: left;
    -moz-box-shadow: 5px 5px 25px #000000;
    -webkit-box-shadow: 5px 5px 25px #000000;
    box-shadow: 5px 5px 25px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 5, direction = 135, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 135, Color = '#000000')";
}


.mainLogo a {
    display: block;
    height: 95px;
    width: 67px;
}

nav.mainNav {           /*Навигационная панель*/
    height: 40px;
    position: absolute;
    top: 27px;
    margin-left: 167px;
}

.mainNav li {
    height: 40px;
    float: left;
}

.mainNav li a {
    display: block;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    text-decoration: none;
    font-family: 'Cuprum Bold';
    font-size: 16px;
    text-transform: uppercase;
    color: #003068;
    background: url('../images/navStrip.png') right no-repeat;
    }

.mainNav li:last-of-type a {            /*Убираем в последней кнопочке навигации синюю полоску в конце*/
    background-image: none;
    }

.mainNav li a:hover {                   /*При наведении кнопки навигации меняют цвет на серый*/
    text-decoration: underline;
    background-color: #EEEEEE; 
}

/*Блок CONTENT*/

.content {
    height: 1280px;
    margin-top: 40px;
    position: relative;
}

.iContent {
    height: 1280px;
    width: 970px;
    position: relative;
    margin: 0 auto;
}

.carousel {                                         /*Carousel*/
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.iCarousel {
    width: 620px;
    height: 420px;
    margin: 10px auto 0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}


.news {                                              /*News*/
    width: 310px;
    height: 480px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    
}

.news div {
    width: 290px;
    height: 460px;
    position: absolute;
    top: 10px;
    left: 10px; 
    border: 1px solid #AFB0B2;
}

.news h2, .iEvents h2, .iFriends h2 {
    height: 40px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 40px;
    background: #003068; /* Old browsers */
    background: -moz-linear-gradient(top, #003068 0%, #005C88 50%, #003068 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #003068 0%,#005C88 50%,#003068 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #003068 0%,#005C88 50%,#003068 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003068', endColorstr='#003068',GradientType=0 ); /* IE6-9 */
}



.news a {
    border-bottom: 1px solid #AFB0B2;
    display:block;
    font-size: 16px;
    color: #333333;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
}

.news a:hover {
    background-color: #EEEEEE; 
}

.news a:last-of-type {
    border-bottom: none;
}

.events {                                           /*Events*/
    width: 722px;
    height: 658px;
    position: absolute;
    top: 500px;
    left: 0;
    background-color: white;
}

.iEvents {
    width: 702px;
    height: 638px;
    margin: 10px auto auto auto;
}

.iEvents table {
    width: 702px;
    height: 598px;
}

.iEvents table tbody tr {
    height: 294px;
    width: 702px;
    border-bottom: 10px solid white; 
}

.iEvents table tbody tr td {
    height: 299px;
    width: 351px;
 }

.iEvents table tbody tr td a {
    display: block;
    height: 294px;
    width: 346px;
    text-decoration: none;
}

.iEvents table tbody tr td:last-of-type a {
    margin-left: 5px;
}

.iEvents table tbody tr:last-of-type a {
    margin-top: 5px;
}

.iEvents img {
    display:block;
    height: 194px;
    width: 346px;
}

.iEvents h3 {
    padding: 10px 0;
    font-size: 22px;
    color: #152C53;
}

.iEvents p {
    color: #333333;
}

.iEvents table tbody tr td a:hover {
    text-decoration: underline;
}

.friends {
    width: 228px;
    height: 458px;
    position: absolute;
    top: 600px;
    right: 0;
    background-color: white;    
}

.iFriends {
    width: 208px;
    height: 438px;
    margin: 10px auto auto auto;   
}

.iFriends ul {
    width: 208px;
    height: 398px;   
}

.iFriends ul li {
    height: 99px;
    border: 1px solid #AFB0B2;
    border-top: 0;
}

.iFriends ul li a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}

.iFriends ul li a:hover {
    background-color: #EEEEEE;
}

.iFriends ul li a img {    
    margin: 10px auto;    
}

footer {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 1180px;
    background-color: white;
}

footer img {
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

footer ul {
    height: 100px;
    width: 200px;
    float: left;
    margin-left: 100px;
}

footer ul li a {
    display: block;
    text-decoration: none;
    color: #333333;
    padding-top: 3px;
    font-size: 16px;
}

footer ul li a:hover {
    text-decoration: underline;
}