<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <title>WE</title>   
    <link href="css/style.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">    
    <link rel="stylesheet" href="components/lazy-carousel/css/lazy-carousel.css">
</head>
<body ng-controller="mainCtrl">
    <header>
        <!--Блок HEADER-->
        <div class="whiteStripe"></div>
        <div class="iHeader">
            <div class="mainLogo">
                <a href="index.html"></a>
            </div>
            <nav class="mainNav">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="places.html">Места</a></li>
                    <li><a href="#">Магазины</a></li>
                    <li><a href="#">Видео</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <!--Блок CONTENT-->
        <div class="iContent">
            <div class="carousel">
                <!--Карусель-->
                <div class="iCarousel">
                    <div id="lazy-1" lazy-carousel data-source="components/lazy-carousel/data/items.json"></div>
                </div>                
            </div>
            <div class="news">
                <!--Новости-->
                <div>
                    <h2>Новости блога</h2>
                    <a ng-repeat="news in newsblog" href="{{news.link}}">{{news.news}}</a>
                </div>
            </div>
            <div class="events">
                <!--Мероприятия-->
                <div class="iEvents">
                    <h2>Мероприятия</h2>
                    <table>
                        <tbody>
                            <tr ng-repeat="trevent in events">
                                <td ng-repeat="tdevent in trevent">
                                    <a href="{{tdevent.a}}">
                                        <img src="{{tdevent.img}}" />
                                        <h3>{{tdevent.h}}</h3>
                                        <p>{{tdevent.p}}</p>
                                    </a>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="friends">
                <!--Друзья сайта-->
                <div class="iFriends">
                    <h2>Наши друзья</h2>
                    <ul>
                        <li ng-repeat="friend in friends">
                            <a href="{{friend.a}}">
                                <img src="{{friend.img}}" />
                                <h3>{{friend.h}}</h3>
                            </a>
                        </li>                       
                    </ul>
                </div>
            </div>
            <footer>
                <img src="images/logoBgMiniWE.png" />
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="#">Места</a></li>
                    <li><a href="#">Магазины</a></li>
                    <li><a href="#">Видео</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </footer>
        </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app/mainApp.js"></script>
    <script src="js/app/mainModuleApp.js"></script>
    <script src="components/lazy-carousel/lazy-carousel.module.js"></script>
    <script src="components/lazy-carousel/lazy-carousel.controller.js"></script>
    <script src="components/lazy-carousel/lazy-carousel.directive.js"></script>
    <script src="components/lazy-carousel/lazy-carousel.service.js"></script>
</body>
</html>