<!DOCTYPE html>
<html ng-app="shopsModuleApp">
<head>
    <title>Места</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/shopsStyle.css" rel="stylesheet" />    
</head>
<body ng-controller="shopsCtrl">
    <header>
        <!--Блок HEADER-->
        <div class="whiteStripe"></div>
        <div class="iHeader">
            <div class="mainLogo">
                <a href="index.html"></a>
            </div>
            <nav class="mainNav">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="places.html">Места</a></li>
                    <li><a href="shops.html">Магазины</a></li>
                    <li><a href="video.html">Видео</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="iContentShops">
            <div class="selectPlaces">
                <div class="iSelectPlaces">
                    <h3>Выбирите область</h3>
                    <div class="inputRegion" ng-click="clickInput()"
                         ng-style="{'background-image':styleArrow}">{{textInput}}</div>
                </div>
            </div>
            <div ng-show="showList" ng-class="optionsRegion">
                <div ng-class="optionRegion"
                     ng-repeat="place in places"
                     ng-mouseenter="listMouseEnter(place)"
                     ng-mouseleave="listMouseleave()"
                     ng-click="listClick(place)">{{place.region}}</div>
            </div>
            <div class="shopTilsLine" ng-repeat="shopLine in regionShops"
                 ng-click="shopTileLineClick($index)">
                <div class="shopTile" ng-repeat="shop in shopLine"
                     ng-click="shopTileClick(shop, $index)">
                    <div class="iShopTile">
                        <img src="{{shop.img}}" />
                        <h3>{{shop.h3}}</h3>
                        <p>{{shop.pre}}</p>
                        <span>{{shop.city}}</span>
                    </div>
                </div>
                <div class="clear"></div>
                <div ng-show="$index == indexShopTileLine">
                    <div ng-class="whiteBox"></div>
                    <div class="showShopDescription">
                        <div class="iShowShopDescription">
                            <h3>{{shopObject.h3}}</h3>
                            <p ng-repeat="shopP in shopObject.p">{{shopP}}</p>
                            <div class="placeAdress">
                                <adress class="adressShop">Адресс: {{shopObject.adress}}</adress>
                                <p>Официальный сайт: <a class="siteShop" href="{{shopObject.site}}">{{shopObject.site}}</a></p>
                                <span class="phoneShop">Телефон: {{shopObject.phone}}</span>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>           
            <footer>
                <img src="images/logoBgMiniWE.png" />
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="places.html">Места</a></li>
                    <li><a href="shops.html">Магазины</a></li>
                    <li><a href="video.html">Видео</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </footer>
        </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app/shopsModuleApp.js"></script>
</body>
</html>