<!DOCTYPE html>
<html ng-app="videoModuleApp">
<head>
    <title>Места</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/videoStyle.css" rel="stylesheet" />
    
</head>
<body ng-controller="videoCtrl">
    <header>
        <!--Блок HEADER-->
        <div class="whiteStripe"></div>
        <div class="iHeader">
            <div class="mainLogo">
                <a href="index.html"></a>
            </div>
            <nav class="mainNav">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="places.html">Места</a></li>
                    <li><a href="shops.html">Магазины</a></li>
                    <li><a href="video.html">Видео</a></li>
                    <li><a href="#">Блог</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="iContentVideo">

            <div class="videoPlace">
                <div class="mainVideo">
                    <iframe ng-src={{mainVideo}} frameborder="0" allowfullscreen></iframe>
                    <h3>{{mainVideoDescription}}</h3>
                </div>
                <div ng-repeat="video in videos | startFrom:currentPage*pageSize | limitTo:pageSize"
                     ng-click="clickSecondVideo(video, $index)" class="secondaryVideo">
                    <img src="http://img.youtube.com/vi/{{video.id}}/mqdefault.jpg">
                    <h3>{{video.videoDescription}}</h3>
                    <span class="blackDiv"></span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="leftSlidePlace">
                <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="paginationPrevious">
                    <img src="images/leftArrowSlide2.png" class="leftArrowImg" />
                </button>
            </div>
            <div class="rightSlidePlace">
                <button ng-disabled="currentPage >= videos.length/pageSize - 1" ng-click="currentPage=currentPage+1; a=0+1" class="paginationNext">
                    <img src="images/rightArrowSlide2.png" class="rightArrowImg" />
                </button>
            </div>



        </div>



        
        






        <footer>
            <img src="images/logoBgMiniWE.png" />
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="places.html">Места</a></li>
                <li><a href="shops.html">Магазины</a></li>
                <li><a href="video.html">Видео</a></li>
                <li><a href="#">Блог</a></li>
            </ul>
        </footer>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app/videoModuleApp.js"></script>
</body>
</html>